body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8e3e7;
  /* background-image: url("./bg.png"); */
  color: #126e82;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;1,500;1,800&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #126e82;
}

nav {
  display: grid;
  grid-template-columns: 2% 96% 2%;
  height: 75px;
  padding-top: 5px;
  width: 100%;
  overflow: hidden;
  top: 0;
  position: fixed;
  background-color: hsla(196, 24%, 88%, 0.95);
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0;
  grid-column: 2;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navItem {
  margin-left: 10px;
  margin-right: 10px;
}

.navItem:link,
.navItem:visited,
.navItem:active {
  font-style: normal;
  text-decoration: none;
  color: #0a404d;
}

.navItem:hover {
  color: rgb(185, 106, 159);
}

#searchThing {
  opacity: 75%;
  padding: 8px;
  width: 155px;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  text-align: center;
  transition: all 0.75s ease 0.05s;
}
#searchThing:focus {
  outline: 0;
  opacity: 100%;
  width: 240px;
  background-color: white;
  color: black;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}
#searchThing:hover {
  border: 1px solid rgba(0, 0, 0, 0.69);
}

.stuff {
  padding-top: 100px;
}

.aFilm {
  display: grid;
  grid-template-columns: 30.5% 2% 35% 2% 30.5%;
  min-height: 700px;
}

.aPoster {
  grid-column: 1;
  text-align: center;
  color: #132c33;
  font-size: 90%;
  opacity: 100%;
}

/* the tagline */
#tagline {
  min-height: 100px;
  margin: 0;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* the poster itself */
.aPoster img {
  width: 90%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* "released on..." */
.released {
  margin: 0;
  height: 100px;
  /* text-shadow: 2px 2px #c2c2c2; */
  color: #132c33;
  opacity: 85%;
}

/* this is the revenue  */
.released p {
  color: #265a0e;
}

.aReview {
  grid-column: 3;
}

.reviewHead {
  min-height: 100px;
}

/* the title of the film */
.aReview h2 {
  grid-column: 3;
  margin: 0;
  color: #132c33;
  font-size: 24px;
}

/* the english title if needed */
.engTitle {
  margin: 0;
  color: #126e82;
  opacity: 68%;
  font-size: 16px;
  font-style: italic;
}

/* the director */
.theDirector p {
  margin: 0;
  font-size: 20px;
  color: #b96a9f;
}

/* the review itself */
.someParagraphs p {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: justify;
}

#theCast {
  grid-column: 5;
  padding-top: 100px;
  color: #132c33;
  padding-right: 5px;
}

#theCast p {
  margin-top: 0;
  margin-bottom: 10px;
}

#theCast p:nth-child(2) {
  color: #b96a9f;
}

.comingAttractions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: -60px;
}

.comingAttractions h3 {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 110%;
  font-weight: 500;
  text-decoration: none;
}

.comingAttractions h3:hover {
  font-style: initial;
  font-size: 112%;
  color: rgb(185, 106, 159);
}

.comingAttractions article {
  text-align: center;
}

.upcomingDate {
  padding: 0;
  margin: 0;
}

.comingAttractions img {
  max-width: 90%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@media only screen and (max-width: 800px) {
  body,
  nav {
    background-color: whitesmoke;
  }

  .navItem {
    visibility: hidden;
    width: 0;
  }

  .aFilm {
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    min-height: 700px;
    position: relative;
  }

  .aPoster {
    grid-column: 2;
  }
  #tagline {
    visibility: collapse;
  }

  .released {
    visibility: collapse;
    height: 0;
  }

  /* the poster itself */
  .aPoster img {
    width: 100%;
  }

  .someParagraphs {
    visibility: collapse;
  }

  /* the title of the film */
  .aReview {
    grid-column: 2;
    position: absolute;
  }

  #theCast {
    grid-column: 2;
    padding-top: 100px;
    text-align: center;
  }

  /* ~~~~~~ Multiple films page ~~~~~~~~~~~ */

  .comingAttractions {
    display: grid;
    grid-template-columns: 1fr;
  }
}
