body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.aFilm {
  display: grid;
  grid-template-columns: 30.5% 2% 35% 2% 30.5%;
}

/* the tagline */
.aPoster h2 {
  height: 100px;
  margin: 0;
  font-style: italic;
  width: fit-content;
}

.aPoster {
  grid-column: 1;
  text-align: center;
}

.aPoster img {
  width: 90%;
}

/* "released on..." */
.aPoster h3 {
  font-style: italic;
}

.aReview {
  grid-column: 3;
}

.reviewHead {
  height: 100px;
}

/* the title of the film */
.aReview h2 {
  color: teal;
  grid-column: 3;
  margin: 0;
}

/* the director */
.aReview p {
  margin: 0;
}

.theCast {
  color: teal;
  grid-column: 5;
  padding-top: 100px;
}

.theCast p {
  margin-top: 0;
  margin-bottom: 15px;
}

/* .review p {
  margin-top: 0px;
} */

/* .details {
  float: initial;
  height: 80px;
  position: relative;
}

.details h1 {
  margin: 0px;
  bottom: 10px;
  position: absolute;
}

.theDirector {
  font-size: large;
  grid-column: 3;
  height: 45px;
}

.theDirector p {
  margin: 0px;
}

.dir {
  margin: 0px;
} */
